* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-direction: column; /* Alinear elementos en columna */
}

.cuadro {
    text-align: center; /* Centrar el contenido dentro del cuadro */
    background-color: white; /* Fondo blanco para el cuadro */
    padding: 20px; /* Espacio interno del cuadro */
    border-radius: 10px; /* Bordes redondeados */

}

.cuadro img {
    width: 900px; /* Asegura que la imagen no sea más ancha que el cuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.boton_inicio {
    margin-top: -25px; /* Ajusta el margen superior según sea necesario */
}

.my-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c10000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #007a99;
}