/* CSS para un formulario simple y moderno */

/* Configuración general */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin: 20px 0;
}

/* Formulario */
form {
    background-color: #fff;
    padding: 50px;
    padding-right: 80px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    font-size: 1rem;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

textarea {
    resize: none;
}

/* Errores */
#errornombre, #errorapellido, #errordireccion, #errorciudad, #errorprovincia, #errorcodigo_postal, #errorpais, #errorcorreo, #errortelefono, #errorDNI, #errornombre_nino, #errorapellido_nino, #errorDNI_nino, #errorfecha_nacimiento, #errorobservaciones {
    color: #D9534F;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    form {
        padding: 15px;
        padding-right: 3em;
    }

    input[type="submit"] {
        font-size: 0.9rem;
    }
}
#enviar:disabled {
    background-color: grey;  /* Cambia el color de fondo */
    color: white;            /* Cambia el color del texto */
    cursor: not-allowed;     /* Muestra el puntero de prohibido */
    opacity: 0.6;            /* Hace que se vea más apagado */
}


.oculto {
    display: none;
  }
