/* =====================================================================================================================================================*/
                                                                       /* ESTILO GENERAL BODY*/
  /* =====================================================================================================================================================*/

  /* =================================================================*/
  /* Definición de tonos de azul */
  /* =================================================================*/
  :root {
    --color-nav-bg: #0A5780; 
    --color-item: #E2E9F4; 
    --color-primary: #3E99E3;
    --color-dropdown-hover: #678ba3;
    --color-underline: #B8D3EF;
  }
  
  /* =================================================================*/
    /* Estilos generales */
  /* =================================================================*/
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 15px;
  }
  body::-webkit-scrollbar-thumb {
    background: #3E99E3;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb:hover {
      background: #B8D3EF;
  } 

  body {
    font-family: "Euclid Circular A", "Poppins";
    background: linear-gradient(225deg, #ffffff, #3E99E3);
    color: white;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center; /* Centra horizontalmente */
    align-items: start;    /* Ubica el contenido al inicio (arriba) */
    margin: 0;
    background-attachment: fixed;
    
  }
  /* =====================================================================/*
                            TRANSICIÓN CON GSAP
  /*======================================================================== */
.transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Valor alto para que cubra todo */
    pointer-events: none;
  }
  
  .transition-row {
    flex: 1;
    display: flex;
  }
  
  /* Ajuste: Usamos .row1 y .row2, de acuerdo a tu HTML */
  .transition-row.row1 .block {
    transform-origin: top;
  }
  
  .transition-row.row2 .block {
    transform-origin: bottom;
  }
  
  .block {
    flex: 1;
    background-color: #2788c0; /* Puedes ajustar el color si lo deseas */
    transform: scaleY(1);
    will-change: transform;
  }
  

  /* =====================================================================================================================================================*/
                                                                       /* NAVBAR */
  /* =====================================================================================================================================================*/
  /* Estilo del navbar */
* {
    box-sizing: border-box;
    border-radius: 8px;
  }
  button {
    background-color: #3E99E3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    }

    button:hover {
    background-color: #0F80CB;
    border-radius: 10px;
    }
    nav {
      border-radius: 10px;
      position: fixed;
      background: var(--color-nav-bg);
      font-weight: 400;
      font-size: 0;
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 95%;
      z-index: 1000; /* Valor alto para que el navbar esté encima */
    }

  /* =================================================================*/
  /* El logo se posiciona de forma absoluta (como pegatina) */
  /* =================================================================*/
  nav .logo {
    position: absolute;
    top: 50%;           /* Centrado verticalmente en el navbar */
    left: 20px;         /* Distancia desde el borde izquierdo */
    transform: translateY(-50%); /* Centrado vertical */
    height: 50px;        
    width: auto;
    z-index: 10;
  }

  /* =================================================================*/
  /* Contenedor de elementos de navegación */
  /* =================================================================*/
  nav .nav-container {
    display: flex;
    position: relative;
    flex: 1;
    margin-left: 80px;  /* Ajusta este valor según el ancho del logo y el espacio deseado */
  }
  
  /* =================================================================*/
    /* Items de navegación */
  /* =================================================================*/
  /* Estilo de los items del navbar */
  /* NOTA: Se usa flex-grow para que los items se expandan y ocupen todo el espacio disponible */
  /*=================================================================*/
  nav .item {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 0 15px;
    cursor: pointer;
    z-index: 5;
    min-width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--color-item);
  }

  /* Dropdown (submenú) */
  .dropdown {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 62px;
  }
  
  /* Oculto inicialmente y se muestra al hacer hover */
  .dropdown > div {
    translate: 0 -100%;
    transition: all 0.5s 0.1s;
    position: relative;
  }
  
  /* Enlaces del dropdown */
  .dropdown a {
    display: block;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: var(--color-primary);
    color: rgb(117, 21, 96);
    text-decoration: none;
  }
  
  /* Hover en los enlaces del dropdown */
  .dropdown a:hover {
    background: var(--color-dropdown-hover);
  }
  
  /* Línea inferior (underline) */
  .underline {
    height: 6px;
    background: var(--color-underline);
    position: absolute;
    bottom: 0;
    width: 20%;
    z-index: 2;
    pointer-events: none;
    transition: 0.35s;
  }
  
  /* Mostrar el dropdown al hacer hover sobre su item */
  nav .item:hover > .dropdown > div {
    translate: 0;
  }
  
    /* =================================================================*/
  /* Movimiento de la underline según el item (NOTA: esto funciona correctamente
     porque solo se cuentan los hijos dentro de .nav-container) */
     /* =================================================================*/
  nav .item:nth-child(1):hover ~ .underline {
    translate: 0;
  }
  
  nav .item:nth-child(2):hover ~ .underline {
    translate: 100%;
  }
  
  nav .item:nth-child(3):hover ~ .underline {
    translate: 200%;
  }
  
  nav .item:nth-child(4):hover ~ .underline {
    translate: 300%;
  }
  nav .item:nth-child(5):hover ~ .underline {
    translate: 400%;
  }

  .botonNavbar{
    width: 100%;
    height: 100%;
  }

  /* espaciador para el navbar y el contenido, para que no se superpongan */
  .espaciador{
    height: 250px;
  }
  .espaciadorBajo{
    height: 450px;
  }
  #btnInicio:hover{
    cursor: pointer;
  }

  #contenedorBienvenido {
    background-color: #e9ecef; /* Fondo suave y neutro */
    padding: 5px 15px; /* Espaciado interno más pequeño */
    border-radius: 20px; /* Bordes redondeados para un toque moderno */
    display: flex; /* Flexbox para alineación */
    align-items: center; /* Alineación vertical al centro */
    justify-content: flex-start; /* Alineación a la izquierda */
    font-family: 'Arial', sans-serif; /* Fuente sencilla y moderna */
    max-width: 250px; /* Máximo ancho ajustado */
    height: 30px; /* Altura fija para mantener el diseño uniforme */
    margin-left: auto; /* Centrado automático a la derecha */

  }
  
  #contenedorBienvenido p {
    margin: 0; /* Eliminar márgenes predeterminados */
    font-size: 14px; /* Texto más pequeño */
    color: #333; /* Color de texto oscuro */
    
  }
  
  #biembenidoNombre {
    font-weight: bold; /* Resaltar el nombre */
    color: #007bff; /* Color azul para un toque moderno */
  }

  .bienvenidoInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  /* -------------------------------------------------------------------------------------------------- */
  /* overlay para cerrar sesion */
  /* -------------------------------------------------------------------------------------------------- */
    /* Estilo para el overlay */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s;
      color: #333;  /* Color del texto */
  }

  /* Estilo para la ventana emergente */
  .overlay-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      width: 300px;
      text-align: center;
      position: relative;
  }

  /* Botón de cierre */
  .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #ff4d4d;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
  }

  .close-btn:hover {
      background: #cc0000;
  }

  /* Clase para mostrar el overlay */
  .overlay.activeOverlay {
      visibility: visible;
      opacity: 1;
  }

  /* Botón para abrir */
  .open-btn {
      padding: 10px 15px;
      background: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .open-btn:hover {
      background: #0056b3;
  }
  /* -------------------------------------------------------------------------------------------------- */

/* =====================================================================================================================================================*/
                                                            /* FOOTER */        
/* =====================================================================================================================================================*/

/* ==================================================================*/
/* Estilos generales */
/* ==================================================================*/
.background {
    position: absolute;
    z-index: -1; /* Detrás de todo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* ==================================================================*/
  /* Estilos del footer */
  /* ==================================================================*/
  ul {
    display: flex;
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
  }
  
  /* ==================================================================*/
  /* Estilos de los elementos */
  /* ==================================================================*/
  
  .socials {
    gap: 20px;
  }
  
  .socials a {
    font-size: 24px;
  }
  #iconos{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .links {
    gap: 10px;
  }
  
  .legal {
    font-size: 12px;
    margin: 0;
  }
  
  /* ==================================================================*/
  /* Estilos de la onda */
  /* ==================================================================*/
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ocupa todo el alto */
    transform: scaleY(3) scaleX(2.25); /* Escala la onda */
    transform-origin: bottom;
    box-sizing: border-box;
    display: block; /* Quita el espacio extra */
    pointer-events: none;
  }
  
  /* ==================================================================*/
  /* Estilos del footer - Cambio de position */
  /* ==================================================================*/
  footer {
    position: relative; /* Se fija al fondo */
    left: 0;
    bottom: 0; /* Ajusta al fondo de la página */
    display: flex;
    justify-content: center; /* Centra el contenido en el footer */
    width: 100%; /* Ocupa todo el ancho */
    height: 350px; /* Altura del footer */
    overflow-x: hidden;
    z-index: 10; /* Asegura que el footer quede por encima de otros elementos */
  }
  
  /* ==================================================================*/
  /* Estilos del contenido dentro del footer */
  /* ==================================================================*/
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px; /* Ajusta este valor según el alto de la onda */
    padding-left: 60px; /* Ajusta este valor según el ancho de la onda */
    width: 100%;
  }
  
  @media (min-width: 420px) {
    section {
      align-items: center; /* Centra horizontalmente */
      padding-left: 0;
      gap: 20px; /* Ajusta este valor según el espacio deseado */
    }
  
    .links {
      gap: 20px;
    }
  }

      
/* ==================================================================*/
/* estilo para esconder html*/
/* ==================================================================*/
.oculto {
    display: none;
  }
  /* ==================================================================*/
  /* fin de estilo para esconder html*/
  /* ==================================================================*/
  
  .body-fondo-bloqueado {
    pointer-events: none;  /* Bloquea todas las interacciones con el fondo */
    overflow: hidden;  /* Bloquea el desplazamiento de la página */
  }
  
    /* =====================================================================================================================================================*/
                                                                         /*HTML CONTENIDO*/
    /* =====================================================================================================================================================*/

    /* overlay operar */
    
/* ==================================================================*/
/* Overlay operar */
/* ==================================================================*/
  /* Estilo para el overlay */
  .overlayOperar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    color: #333;  /* Color del texto */
    overflow: auto; /* Agrega desplazamiento si es necesario */
    padding: 20px;  /* Evita que el contenido toque los bordes */
    z-index: 998;
    pointer-events: auto;  /* Habilita la interacción con el overlay */
}


  /* Estilo para la ventana emergente */
  .overlayContenidoOperar {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    position: relative;
    max-height: 500px;
    padding: 25px;
    overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
}


  /* Botón de cierre */
  .closeBtnOperar{
    position: absolute;
    font-size: large;
    top: 10px;
    right: 10px;
    background: #ff4d4d00;
    color: #007BFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .closeBtnOperar:hover {
    background: #cc000000;
  }

  /* Clase para mostrar el overlay */
  .overlayOperar.activeOverlayOperar {
    visibility: visible;
    opacity: 1;
  }

  .mensajeFeedbackOperar{
    z-index: 999;
    background-color: #333;
  }
  /* ====== Estilos actualizados para los botones ====== */
#btnVolverOperar {
  border-color: #6c757d;
  border: 1px solid #6c757d;
  background-color: #ffffff; /* Gris oscuro */
  color: #6c757d;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#btnVolverOperar:hover {
  background-color: #bfc2c4; /* Gris más oscuro */
}

#btnModificarOperar {
  background-color: #F98937; /* Verde */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#btnModificarOperar:hover {
  background-color: #CC6F32; /* Verde más oscuro */
}

#btnEliminarOperar {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#btnEliminarOperar:hover {
  background-color: #c82333; /* Rojo más oscuro */
}

/* ====== Espaciado actualizado ====== */
.overlayContenidoOperar label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px; /* Mayor separación entre etiquetas */
}

.overlayContenidoOperar input,
.overlayContenidoOperar select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px; /* Espaciado uniforme */
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contenedorProfesores {
  margin-top: 5px;
  margin-bottom: 15px;
}

#mensajeFeedbackOperar {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

#btnVolverOperar,
#btnModificarOperar,
#btnEliminarOperar {
  width: 100%;
  margin-top: 10px; /* Separación uniforme entre botones */
  padding: 12px;
  font-size: 16px;
}
.closeBtnOperar{
  color: #6c757d;
}
.closeBtnOperar:hover{
  color: #61686e;
}



  /* ======== RESPONSIVE ======== */
@media (max-width: 768px) {
  .overlayContenidoOperar {
      width: 90%;
      padding: 20px;
      font-size: 14px;
  }

  .closeBtnOperar {
      font-size: 16px;
      top: 8px;
      right: 8px;
  }

  .overlayContenidoOperar input,
  .overlayContenidoOperar select {
      font-size: 14px;
      padding: 8px;
  }

  #btnVolverOperar,
  #btnModificarOperar,
  #btnEliminarOperar {
      font-size: 14px;
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .overlayContenidoOperar {
      width: 95%;
      padding: 15px;
      font-size: 13px;
  }

  .closeBtnOperar {
      font-size: 14px;
      top: 5px;
      right: 5px;
  }

  .overlayContenidoOperar input,
  .overlayContenidoOperar select {
      font-size: 13px;
      padding: 7px;
  }

  #btnVolverOperar,
  #btnModificarOperar,
  #btnEliminarOperar {
      font-size: 12px;
      padding: 8px;
  }
}


/* ==================================================================*/
/* fin de Overlay añadir grupos*/
/* ==================================================================*/

/* ==================================================================*/
/* Overlay eliminar */
/* ==================================================================*/
  /* Estilo para el overlay */
  .overlayComprobarEliminar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    color: #333;  /* Color del texto */
    overflow: auto; /* Agrega desplazamiento si es necesario */
    padding: 20px;  /* Evita que el contenido toque los bordes */
    z-index: 998;
    pointer-events: auto;  /* Habilita la interacción con el overlay */
}


  /* Estilo para la ventana emergente */
  .overlayContenidoComprobarEliminar {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    position: relative;
    max-height: 80%;
    overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
}


  /* Botón de cierre */
  .closeBtnComprobarEliminar{
    position: absolute;
    font-size: large;
    top: 10px;
    right: 10px;
    background: #ff4d4d00;
    color: #007BFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .closeBtnComprobarEliminar:hover {
    background: #cc000000;
  }

  /* Clase para mostrar el overlay */
  .overlayComprobarEliminar.activeOverlayComprobarEliminar {
    visibility: visible;
    opacity: 1;
  }

  #btnEliminarComprobarEliminar{
    background-color: #dc3545;
  }
  #btnEliminarComprobarEliminar:hover{
    background-color: #bb2a38;
  }

  .mensajeFeedbackComprobarEliminar{
    z-index: 999;
    background-color: #333;
  }

/* ==================================================================*/
/* fin de Overlay eliminar*/
/* ==================================================================*/




/* ==================================================================*/
/* Overlay lista niños */
/* ==================================================================*/
 /* Estilo para el overlay */
.overlayListaNinos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  color: #333; /* Color del texto */
  overflow: auto; /* Agrega desplazamiento si es necesario */
  padding: 20px; /* Evita que el contenido toque los bordes */
  z-index: 998;
  pointer-events: auto; /* Habilita la interacción con el overlay */
}

/* Estilo para la ventana emergente */
.overlayContenidoListaNinos {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px; /* Limitar el tamaño máximo */
  text-align: left;
  position: relative;
  max-height: 80%;
  overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
  font-family: 'Arial', sans-serif;
}

/* Encabezados */
.overlayContenidoListaNinos p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #444;
}

/* Tabla */
#tablaActividad2 {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#tablaActividad2 th,
#tablaActividad2 td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

#tablaActividad2 th {
  background-color: #f4f4f4;
  color: #333;
}

#tablaActividad2 td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.verMasBtn:hover {
  background-color: #0056b3;
}

  /* Botón de cierre */
  .closeBtnListaNinos{
    position: absolute;
    font-size: large;
    top: 10px;
    right: 10px;
    background: none;
    color: #007BFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }


/* Clase para mostrar el overlay */
.overlayListaNinos.activeOverlayListaNinos {
  visibility: visible;
  opacity: 1;
}

/* Estilo adicional para la retroalimentación y errores */
.mensajeFeedbackListaNinos {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

#errorListaNinos {
  color: red;
  font-weight: bold;
}


#btnModificarDatosNino, #btnEliminarNino {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}
#btnEliminarNino {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}
#btnEliminarNino:hover {
  background-color: #c91e2f;
  color: white;
  margin-left: 10px;
}



/* ==================================================================*/
/* fin de Overlay lista niños */
/* ==================================================================*/


/* ==================================================================*/
/* Overlay modificar niños */
/* ==================================================================*/
/* Estilo para el overlay */
.overlayModificarNino {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Sombra más oscura para enfoque */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  color: #333;  /* Color del texto */
  overflow: auto;
  padding: 20px;
  z-index: 999;
  pointer-events: none; /* Deshabilita interacción cuando está invisible */
}

/* Estilo para la ventana emergente */
.overlayContenidoModificarNino {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 500px;
  text-align: left;
  position: relative;
  max-height: 80%;
  overflow-y: auto;
  font-family: 'Arial', sans-serif;
  color: #444;
}

/* Estilo para las etiquetas */
.overlayContenidoModificarNino label {
  display: block;
  font-weight: 600;
  color: #555;
  font-size: 14px;
  margin-bottom: 8px;

}

/* Estilo para los inputs */
.overlayContenidoModificarNino input[type="text"],
.overlayContenidoModificarNino select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Estilo para los radio buttons */
#pagadoSi, #pagadoNo {
  margin-left: -120px;
}
.estodoPagoTXT{
margin-left: -100px;
}



/* Botón de cierre */
.closeBtnModificarNino {
  position: absolute;
  font-size: 18px;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
}

.closeBtnModificarNino:hover {
  background: rgba(0, 123, 255, 0.1);
  color: #0056b3;
}

/* Botones dentro del overlay */
#btnVolverModificarNino {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

#btnVolverModificarNino:hover {
  background-color: #92969a;
}

/* Botón Modificar */
#btnModificarModificarNino {
  width: 100%;
  padding: 12px;
  background-color: #F98937;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

#btnModificarModificarNino:hover {
  background-color: #e87a28;
}

/* Botón Eliminar */
#btnEliminarModificarNino {
  width: 100%;
  padding: 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

#btnEliminarModificarNino:hover {
  background-color: #c82333;
}

/* Clase para mostrar el overlay */
.overlayModificarNino.activeOverlayModificarNino {
  visibility: visible;
  opacity: 1;
  pointer-events: all; /* Permite la interacción cuando es visible */
}

/* Retroalimentación y errores */
.mensajeFeedbackModificarNino {
  background-color: #333;
  color: white;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 14px;
}

#errorModificarModificarNino {
  color: #e74c3c;
  font-weight: 600;
}


/* ==================================================================*/
/* fin de Overlay modifiar niños */
/* ==================================================================*/


/* ==================================================================*/
/* Overlay añadir niños al grupo */
/* ==================================================================*/
/* Estilo para el overlay */
.overlayAñadirNinoAlGrupo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  color: #333; /* Color del texto */
  overflow: auto; /* Agrega desplazamiento si es necesario */
  padding: 20px;
  z-index: 998;
  pointer-events: auto; /* Habilita la interacción con el overlay */
}

/* Estilo para la ventana emergente */
.overlayContenidoAñadirNinoAlGrupo {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
  max-height: 80%;
  overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
  animation: fadeIn 0.3s ease;
}

/* Animación de entrada suave para el overlay */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Botón de cierre */
.closeBtnAñadirNinosGrupo {
  position: absolute;
  font-size: large;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.closeBtnAñadirNinosGrupo:hover {
  background: #ff4d4d1a;
  color: #cc0000;
}

/* Clase para mostrar el overlay */
.overlayAñadirNinoAlGrupo.activeOverlayAñadirNinoAlGrupo {
  visibility: visible;
  opacity: 1;
}

/* Estilo para el formulario */
#formAñadirNinoAlGrupo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#formAñadirNinoAlGrupo h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Estilo para los inputs y select */
input[type="text"], select, input[type="radio"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}

/* Estilo para el contenedor del grupo de radios */
.ninoPagadoONo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  flex-direction: row; /* Cambiado a fila */

}

/* Estilo para cada opción de radio */
.ninoPagadoONo input[type="radio"] {
  accent-color: #007BFF; /* Color del círculo del radio */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el input */
  margin-right: -50px;
}


/* Imagen del niño */
#imagenNinoSeleccionadoParaAgregar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: -50px;
}

/* Feedback de mensaje */
#mensajeFeedbackAñadirNinoAlGrupo {
  background-color: #f2f2f2;
  padding: 10px;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  margin-top: 20px;
}

/* Estilo para el contenedor de los botones */
#formAñadirNinoAlGrupo button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnCrearAñadirNinoAlGrupo {
  background-color: #28a745;
  color: #fff;
}

#btnVolverAñadirNinoAlGrupo {
  background-color: white;
  border: 1px solid #bcbaba;
  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  margin: 10px;
}

#btnVolverAñadirNinoAlGrupo:hover {
  background-color: #bcbaba;
}


button:hover {
  background-color: #007BFF;
  color: #fff;
}


/* ==================================================================*/
/* fin de Overlay añadir niños al grupo */
/* ==================================================================*/






 /* Estilos para el contenedor de tablas */
.contenedorTablas {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: auto;
  z-index: 20;
}

/* Botón de agregar nuevo grupo */
#contenedorBotonAgregarGrupo {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

#contenedorBotonAgregarGrupo:hover {
  background-color: #005ab9;
}

/* Estilos de la tabla de actividades */
#tablaActividad {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

#tablaActividad th,
#tablaActividad td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

#tablaActividad th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

#tablaActividad tbody tr:nth-child(odd) {
  background-color: #e6f7ff;
}

#tablaActividad tbody tr:nth-child(even) {
  background-color: #f2faff;
}

#tablaActividad tbody tr:hover {
  background-color: #cce0ff;
}

/* Estilo de la columna de acciones (operar) */
#tablaActividad th:nth-child(3), 
#tablaActividad td:nth-child(3) {
  text-align: center;
}

/* Botones dentro de la tabla */
#tablaActividad td button {
  /* padding: 6px 10px; */
  font-size: 12px;
  /* border-radius: 5px; */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 2px;
}

/* Botón primario (por ejemplo, editar) */
/* #tablaActividad td button:first-child {
  background-color: #007bff;
  color: white;
} */

#tablaActividad td button:first-child:hover {
  background-color: #005ab9;
}

/* Botón secundario (por ejemplo, eliminar) */
/* #tablaActividad td button:last-child {
  background-color: #007bff;
  color: white;
} */

#tablaActividad td button:last-child:hover {
  background-color: #005ab9;
}

#eliminarGrupo {
  background-color: #ff4d4d;
  color: white;
}

.verMasBtnEliminar {
  background-color: #ff4d4d;
  color: white;
}

.verMasBtnEliminar:hover {
  background-color: #cc0000;
}

  
  /* ==================================================================*/
/* Overlay eliminar persona */
/* ==================================================================*/
  /* Estilo para el overlay */
  .overlayComprobarEliminarPersona {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    color: #333;  /* Color del texto */
    overflow: auto; /* Agrega desplazamiento si es necesario */
    padding: 20px;  /* Evita que el contenido toque los bordes */
    z-index: 998;
    pointer-events: auto;  /* Habilita la interacción con el overlay */
}


  /* Estilo para la ventana emergente */
  .overlayContenidoComprobarEliminarPersona {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    position: relative;
    max-height: 80%;
    overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
}


  /* Botón de cierre */
  .closeBtnComprobarEliminarPersona{
    position: absolute;
    font-size: large;
    top: 10px;
    right: 10px;
    background: #ff4d4d00;
    color: #007BFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .closeBtnComprobarEliminarPersona:hover {
    background: #cc000000;
  }

  /* Clase para mostrar el overlay */
  .overlayComprobarEliminarPersona.activeOverlayComprobarEliminarPersona {
    visibility: visible;
    opacity: 1;
  }

  .mensajeFeedbackComprobarEliminarPersona{
    z-index: 999;
    background-color: #333;
  }
  
  #btnEliminarComprobarEliminarPersona{
    background-color: #dc3545;
  }

/* ==================================================================*/
/* fin de Overlay eliminar*/
/* ==================================================================*/


/* ==================================================================*/
/* Overlay añadir Grupos */
/* ==================================================================*/
/* Estilo para el overlay */
.overlayAñadirGrupo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  color: #333;
  overflow: auto;
  padding: 20px;
  z-index: 998;
  pointer-events: auto;
}

/* Estilo para la ventana emergente */
.overlayContenidoAñadirGrupo {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  position: relative;
  max-height: 80%;
  overflow-y: auto;
}

/* Botón de cierre */
.closeBtnAñadirGrupo {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.closeBtnAñadirGrupo:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Clase para mostrar el overlay */
.overlayAñadirGrupo.activeOverlayAñadirGrupo {
  visibility: visible;
  opacity: 1;
}

/* Botón de volver */
#btnVolverAñadirGrupo {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  margin: 10px;
}
#btnCrearGrupoConfirmar{

  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  margin: 10px;
}

#btnVolverAñadirGrupo:hover {
  background-color: #f2f2f2;
}

/* Estilo para el formulario */
#formAñadirGrupo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #333;
}

input[type="text"], select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Responsivo */
@media (max-width: 768px) {
  .overlayContenidoAñadirGrupo {
      width: 100%;
      max-width: 90%;
      padding: 15px;
  }
  #formAñadirGrupo {
      margin: 10px;
  }
}



/* ==================================================================*/
/* fin de Overlay añadir grupos*/
/* ==================================================================*/



/* ==================================================================*/
/* Overlay comprobacion de no pagado */
/* ==================================================================*/
  /* Estilo para el overlay */
  .overlayComprobarNoPagado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    color: #333;  /* Color del texto */
    overflow: auto; /* Agrega desplazamiento si es necesario */
    padding: 20px;  /* Evita que el contenido toque los bordes */
    z-index: 998;
    pointer-events: auto;  /* Habilita la interacción con el overlay */
}


  /* Estilo para la ventana emergente */
  .overlayContenidoComprobarNoPagadoo {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    position: relative;
    max-height: 80%;
    overflow-y: auto; /* Habilita el scroll si el contenido excede el 80% */
}
  /* Clase para mostrar el overlay */
  .overlayComprobarNoPagado.activeComprobarNoPagado {
    visibility: visible;
    opacity: 1;
  }


/* ==================================================================*/
/* fin de overlay de comprobacion de no pagado*/
/* ==================================================================*/



.area{
  background: #72a3ec;  
  background: -webkit-linear-gradient(to left, #83d0f7, #248de3);  
  width: 100%;
  height:100vh;
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}